.snack-photo-div {
    margin: auto;
    text-align: center;
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

.snack-photo {
    width: 210px; 
    height: auto; 
}

.doritos-photo {
    width: 400px;
}

.snicker-photo {
    width: 350px;
}

.nice-racoon-photo {
    width: 300px;
}

.mad-racoon-photo {
    width: 450px; 
}

.snacks-nav {
    position: absolute;
    bottom: 10%; 
    left: 40%; 
    right: 40%;
    text-align: center;
}

