.vendingText {
    color: purple; 
    text-align: center;
}

.vendingPhotoDiv {
    margin: auto;
    text-align: center;
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

.vendingPhoto {
    width: 700px; 
    height: auto;
}

.title {
    margin-bottom: 0;
}

.subheading {
    margin-top: 5px;
    color: hsl(105, 100%, 33%);
}
