.snacks-photo-div {
    margin: auto;
    text-align: center;
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

.snack-photo {
    width: 200px; 
    height: auto; 
}