.nav {
 border: 5px solid purple;
 border-radius: 5px;
 padding: 40px;
 position: absolute;
 right: 10%;
 top: 30%;
}

.venging-machine-link {
    text-decoration: none;
    color: hsl(280, 100%, 55%);
}

.venging-machine-link:hover {
    outline: 1px solid hsl(280, 100%, 75%);
}

.snacks-text {
    color: purple;
    text-align: center;
}

.nav-links {
    text-align: center;
    text-decoration: none;
    display: block;
    color: purple;
}

.nav-links:focus {
    color: hsl(280, 100%, 75%);
}

.nav-links:hover {
    outline: 1px solid hsl(280, 100%, 75%);
}